@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  padding-top: 0;
}
.header img {
  position: relative;
  top: -140px;
  width: 140px;
  height: 140px;
  background: white;
}

.header h1 {
  position: relative;
  padding-left: 155px;
  font-size: 80px;
  background-color: #0b5091;
  font-family: verdana;
  color: white;
  height: 140px;
  top: -10px;
}

h2{
  position: relative;
  padding-left: 185px;
  color: #f5c13f;
  font-family: verdana;
  top: -192px;
  font-size: 17px;
}

.text{
  font-family: verdana;
  position: relative;
  top: -180px;
  margin: 10px;
  padding: 10px;
}

.trademark{
  position: absolute;
  bottom: 0;
}
