@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  padding-top: 0;
}
.header img {
  position: relative;
  top: -140px;
  width: 140px;
  height: 140px;
  background: white;
}

.header h1 {
  position: relative;
  padding-left: 155px;
  font-size: 80px;
  background-color: #0b5091;
  font-family: verdana;
  color: white;
  height: 140px;
  top: -10px;
}

h2{
  position: relative;
  padding-left: 185px;
  color: #f5c13f;
  font-family: verdana;
  top: -192px;
  font-size: 17px;
}

button{
  display: inline-block;
  text-align: center;
  position: relative;
  top: -75px;
  background: #f5c13f;
  color : #0b5091;
  font-family: verdana;
  font-size: 22px;
  border: 2px solid #0b5091;
  height: 175px;
  width: 48%;
  border-style: outset;
  border-width: 5px;
  float: left;
  padding: 10px 20px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  margin-left: 20px;
}

form.searchTool input[type=text] {
  position: relative;
  top: 10px;
  right: -112px;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  border: 2px solid black;
  background: #f1f1f1;
}

form.searchTool button {
  positon: relative;
  top: 10px;
  right: -100px;
  float: left;
  width: 20%;
  background: #0b5091;
  color: white;
  font-size: 17px;
  border: 2px solid black;
  cursor: pointer;
  height: 44px;
}

form.searchTool button:hover {
  background: #0b7dda;
}

form.searchTool::after {
  content: "";
  clear: both;
  display: table;
}

.searchTool{
  position: relative;
  top: -330px;
  margin-left: 2px;
}
