@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
   max-width: 2000px;
   min-width: 1900px;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  padding-top: 0;
}

.header img {
  position: relative;
  top: -145px;
  width: 140px;
  height: 140px;
  background: white;
}

.header h1 {
  position: relative;
  padding-left: 155px;
  font-size: 80px;
  background-color: #0b5091;
  font-family: verdana;
  color: white;
  height: 135px;
  top: -10px;
}

.header h2 {
  position: relative;
  top: -190px;
  left: 160px;
  color: #f5c13f;
  font-family: verdana;
  font-size: 15px;
}

.header button{
  line-height: 20px;
  text-align: center;
  position: relative;
  top: -285px;
  left: 750px;
  background: #f5c13f;
  color : #0b5091;
  font-family: verdana;
  font-size: 22px;
  border: 2px solid #0b5091;
  height: 50px;
  width: 20%;
  border-style: outset;
  border-width: 5px;
  padding: 10px 20px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  margin-left: 14px;

}

/* Add style to top navigation */
.topnav{
  position: relative;
  top: -15px;
  background-color: #0b5091;
  height: 60px;
  border: black;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  position: relative;
  float: left;
  padding: 10px;
  border: black;
  margin-top: 8px;
  width: 11%;
  margin-left: 10px;
  font-size: 17px;
  min-width: 200px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #0b5091;
  color: white;
  padding: 16px;
  font-size: 14px;
  border: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  left: 5px;
  top: -5px;
  float: left;
  margin: 2px;
  border: 2px solid #0b5091;
  border-style: outset;
  border-width: 5px;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 465px;
  overflow: scroll;
}
.custom-select{
  float: left;
  margin-left: 10px;
  position: relative;
  top: -10px;
}
#department{
  width: 170px;
  background: #f1f1f1;
}

#courselevel{
  width: 165px;
  background: #f1f1f1;
}

#term{
  width: 110px;
  background: #f1f1f1;
}

#requirements{
  width: 245px;
  background: #f1f1f1;
}

#period{
  width: 170px;
  background: #f1f1f1;
}

.submit button{
  positon: absolute;
  display: inline-block;
  text-align: center;
  background: #f5c13f;
  color : #0b5091;
  font-family: verdana;
  font-size: 26px;
  border: 2px solid #0b5091;
  width: 35%;
  height: 75px;
  border-style: outset;
  border-width: 5px;
  padding: 10px 20px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  margin-left: 14px;
}

.directions p{
  position: absolute;
  left: 10px;
  bottom: 10px;
  float: left;
}

#classes {
  font-family: verdana;
  float: left;
  margin-left: 10px;
  border-collapse: collapse;
  border-width: 3px;
  border-color: #0b5091;
}

#classes th{
  text-align: left;
  padding: 10px;
  background-color: #f5c13f;

}

#classes td{
  padding: 7px;
}

#classes tr:nth-child(even){background-color: #f2f2f2;}

#classes tr:hover {background-color: #ddd;}
