<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/stylesheetaboutdata.css"  />
</head>
<body>
<div style="min-width: 1450px; margin: 0 auto; max-height: 1080px;">
  <div class="header">
  <h1> Carleton Course Facilitator </h1>
  <img src="../static/carletonlogo.png" alt="CarletonLogo" width="110" height="100">
</div>
    <h2> An open source program designed by and for Carleton students so that they can better select and plan their course load. </h2>
    <div class="text">
    <h3> About the Data <br><br></h3>
    <p> This data was scraped off of a pdf version of the Carleton Course Catalogue using python script. The following variables were collected about each class:</p>
    <p> Department - Which academic department teaches the class <br><br> Class ID Number - The ID code associated with the class, can be used to look it up on the Hub<br><br> Name - The title of the class<br><br> Prerequisites - Classes that must have been taken in order to take the selected class <br><br> Liberal Arts Requirements Fulfilled - These are the graduation requirements that the selected class fulfills <br><br> </p>
    <h4> Limitations<br><br> </h4>
    <p> While we initially contacted the Registrar's Office in hopes they would give us the data in .csv format, they declined. As a result, we had to use a course catalogue from the previous year. Some data may be outdated. Additionally, we were unable to grab data regarding which teachers were teaching each section of a class. </p>
  </div>

  <button type="button" onclick="window.location.href = '/findaclass';">  Find a Class </button>

  <button type="button" onclick="window.location.href = '/homepage';"> Home </button>
  <div class="trademark">
  <p> This site was made by Ben Preiss, Cam Brown, Tony Ngo with the goal of streamlining the class selection process and helping other students better search for classes that fit their interests. Last Updated: 10/17/2019 </p>
</div>
</div>
<body>
<html>
