<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/stylesheetaboutdata.css"  />
</head>
<body>
<div style="min-width: 1450px; margin: 0 auto; max-height: 1080px;">
  <div class="header">
  <h1> Carleton Course Facilitator </h1>
  <img src="../static/carletonlogo.png" alt="CarletonLogo" width="110" height="100">
</div>
    <h2> An open source program designed by and for Carleton students so that they can better select and plan their course load. </h2>
    <div class="text">
    <h3> About the Data <br><br></h3>
    <p> This data was scraped off of Carleton Enroll page using python script. The following variables were collected about each class:</p>
    <p> Department - Which academic department teaches the class <br><br> Class ID Number - The ID code associated with the class, can be used to look it up on the Hub<br><br> Name - The title of the class<br><br> Term - The term the course is offered <br><br> Liberal Arts Requirements Fulfilled - These are the graduation requirements that the selected class fulfills <br><br> Period - The class period which the class is available <br><br> Course Description - The description of the course<br><br>  </p>
    <h4> Limitations<br><br> </h4>
    <p> While we initially contacted the Registrar's Office in hopes they would give us the data in .csv format, they declined. As a result, we created a webcrawler that traversed through carleton enroll in order to create a database that contains all course and course information at Carleton for Fall 2019, Winter 2020, and Spring 2020. Due to different departments having irregularities in their course information in the course description section of the database, there are \regex words that appear in the description due to how the html was written on Enroll. Removing the regex words proved to be more difficult than anticipated. It was decided that while it does make some of the course desciptions difficult to read when it occurs, it does not have a drastically negative impact on our class queries and results.
    </p>
  </div>

  <button type="button" onclick="window.location.href = '/findaclass';">  Find a Class </button>

  <button type="button" onclick="window.location.href = '/';"> Home </button>
  <div class="trademark">
  <p> This site was made by Ben Preiss, Cam Brown, Tony Ngo with the goal of streamlining the class selection process and helping other students better search for classes that fit their interests. Last Updated: 10/17/2019 </p>
</div>
</div>
<body>
<html>
