<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href ="../static/stylesheet_findaClass.css" />
</head>
<body>
	<div style="min-width: 1000px; margin: 0 auto; max-height: 150px;">
		<div class="header">
		<h1>
			Find a Class
		</h1>
		<img src="../static/carletonlogo.png" alt="CarletonLogo" width="110" height="100">
	</div>
	</div>
	
	<div class="topnav">
		<input type="text" placeholder="Enter class name">
	</div>  
<!--
	<ul class="breadcrumb">
  		<li><a href="#">Winter 2019</a></li>
  		<li><a href="#">Computer Science</a></li>
  		<li><a href="#"> Level 200</a></li>
 		<li>CS 201</li>

	</ul>
-->

	<div class = "dropdown">
		<button class="dropbtn"> Select a Department</button>
		<div class="dropdown-content">
			
			<a href="#">Biology (BIO)</a>
			<a href="#">Computer Science (CS)</a>
			<a href="#">Studio Art (ARTS)</a>
			<a href="#">More classes will be added later</a>
		</div>
	</div> <br>
<!--
	<div class="course">
		<div class="title">
			<h3 class="title">
				<span class="coursenum" title="4824"> CS 201</span>
				" Data Structures "
			</h3>
		</div>
		
		<div class = "description">
			<p> Think back to your favorite assignment from Introduction to Computer Science. Did you ever get the feeling that "there has to be a better/smarter way to do this problem"? The Data Structures course is all about how to store information intelligently and access it efficiently. How can Google take your query, compare it to billions of web pages, and return the answer in less than onesecond? How can one store information so as to balance the competing needs for fast data retrieval andfast data modification? To help us answer questions like these, we will analyze and implement stacks,
			queues, trees, linked lists, graphs, and hash tables. Students who have received credit for a course forwhich Computer Science 201 is a prerequisite are not eligible to enroll in Computer Science 201.
			</p>
		</div>

		<div class="information"> 
			<div class="prerequisites">
				<ul class="classData">
					<h3> Prerequisites</h3>
					<li><a href="#">CS 111</a></li>
					<li><a href="#"> Instructor permission</a></li>
				</ul>	
			</div>

			<div class="requirements">
				<h3> Requirements Met</h3>
					<ul class="classData">
						<li><a href="#"> Quantitative Reasoning</a></li>
						<li><a href="#"> Formal or Statistical Reasoning </a></li>
					</ul>
			</div>

			<div class="terms">
				<h3> Terms Available</h3>
					<ul class="classData">
						<li><a href="#"> Fall</a></li>
						<li><a href="#"> Winter</a></li>
						<li><a href="#"> Spring</a></li>
					</ul>
			</div>

			<div class="professors">
				<h3> Taught By</h3>
					<ul class="classData">
						<li><a href="#"> Sam Tucker</a></li>
						<li><a href="#"> Amy Csizmar Dalal</a></li>
						<li><a href="#"> Anna N Rafferty</a></li>
						<li><a href="#"> David R Musicant</a></li>
					</ul>
			</div>

			<div class="credits">
				<h3> 6 credits </h3>	
			</div>

			</div> 
-->
	</div>
</body>
</html>