<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/stylesheethome.css"  />
</head>
<body>
<div style="min-width: 1450px; margin: 0 auto; max-height: 1080px;">
  <div class="header">
  <h1> Carleton Course Facilitator </h1>
  <img src="../static/carletonlogo.png" alt="CarletonLogo" width="110" height="100">
</div>
    <h2> An open source program designed by and for Carleton students so that they can better select and plan their course load. </h2>
        <button> <br>This tool helps you narrow down Carleton's selection of courses based on your interests, schedule, and requirements.</button>
        <button> Select classes and visualize and compare different weekly schedules. </button>
        <button> Learn about how we sourced class data and the information available to you with Carleton Course Facilitator.</button>
        <div class="sections">
        <p1>&emsp;&emsp;&emsp; Find a Class&emsp;&emsp;</p1>
        <p2>&emsp;&emsp;&emsp; Make a Schedule&emsp;&emsp;&emsp; </p2>
        <p3> &emsp;&nbsp;&nbsp;About the Data &emsp;&emsp;&emsp;</p3>
      </div>
    <div class="searchBar">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <form class="searchTool" action="http://perlman.mathcs.carleton.edu:5235/find-a-class">
      <input type="text" placeholder="Search for classes by keyword" name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
<body>
<html>
